<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Browse Appointments</title>
    </head>
    <body>
        <h1>Here are your appts, {{.Username}}</h1>
        {{if .IsAdmin}}
            <form method="POST">
                <label for="search">Customer name: </label>
                <input type="text" name="search" />
                <input type="submit" />
            </form>
        {{end}}
        
        <ul>

        {{if not .Appointments}}
            <p>NOthing</p>
        {{else}}
            {{range .Appointments}}
                <li>{{.Id}}, {{.Customer}} @ {{.Location}}</li>
            {{end}}
        {{end}}
        

        </ul>
    </body>
</html>