<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Browse Appointments</title>
    </head>
    <body>

    <a href="/">Home</a>
    {{if .IsAdmin}}
        <a href="/dashboard">Dashboard</a>
            {{else}}
        <a href="/book?username={{.Username}}">Book Appointment</a>
    {{end}}
    <a href="/logout">logout</a>
        <h1>Here are your appts, {{.Username}}</h1>
        {{if .IsAdmin}}
            <form method="POST">
                <label for="search">Customer name: </label>
                <input type="text" name="search" />
                <input type="submit" />
            </form>
        {{end}}
        
        <ul>
            {{if not .IsAdmin}}
                <a href="/book?username={{.Username}}">Book Appointment</a>
            {{end}}
            {{if not .Appointments}}
                {{if not .IsAdmin}}
                    <p>You have no active appointment</p>
                {{else}}
                    <p>Appointment not found</p>
                {{end}}
            {{else}}
            <p>You have appointment with:</p>
                {{range .Appointments}}
                    <li>with Dr. {{.Doctor}} @{{.Time}}, Venue: {{.Location}}</li>
                {{end}}
            {{end}}
        </ul>
    </body>
</html>